.title {
    color: blueviolet;
}

/* The Navigation Menu */
.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.nav-key {
    background-color: white;
    border: None;
    font-size: 20px;
}

/* The Game Board*/
.board {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.tile {
    padding: 10px;
    border: 1px solid #d3d6da;
    /* background-color: white; */
    box-sizing: border-box;

    font-size: 25px;
    font-family: 'Calibri';
    font-weight: bold;

    width: 40px;
    height: 50px;

    display:flex;
    justify-content: center;
    align-items:center;
}

/* Keyboard */
.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.key {
    padding: 15px;
    border: 1px;
}

.key.big {
    min-width:70px;
}

/* Styling */
.green {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.orange {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.gray {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}