.title {
    color: blueviolet;
}

.btn {
    cursor:pointer;
}
/* The Navigation Menu */
.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.nav-key {
    background-color: white;
    border: None;
    font-size: 20px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    font-family: 'Calibri';
    color: #d3d6da;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 30px;
    width: 400px;
    position: relative;
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
}

/* Help Modal */
.example-row {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-tile {
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #d3d6da;
    
    font-size: 25px;
    font-family: 'Calibri';
    font-weight: bold;
    color: white;

    width: 40px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hint Modal */
.reveal-hint {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 10px;
    margin-top:20px;
}

.reveal-hint button {
    background-color: #818384;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.reveal-hint p {
    min-height: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #6aaa64;
    margin: 0;
}

/* The Game Board*/
.board {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.tile {
    padding: 10px;
    border: 1px solid #d3d6da;
    /* background-color: white; */
    box-sizing: border-box;

    font-size: 25px;
    font-family: 'Calibri';
    font-weight: bold;

    width: 40px;
    height: 50px;

    display:flex;
    justify-content: center;
    align-items:center;
}

/* Keyboard */
.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.key {
    padding: 15px;
    border: 1px;
}

.key.big {
    min-width:70px;
}

/* Styling */
.green {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.orange {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.gray {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}

/* Animations */

@keyframes pop{
    0% {transform: scale(0.8);}
    40% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.pop {
    animation: pop 0.12s;
}

@keyframes flip{
    0% {transform: rotateX(0);}
    50% {transform: rotateX(90deg);}
    100% {transform: rotateX(0);}
}

.flip {
    animation: flip 0.5s ease;
}

@keyframes shake{
    0% {transform: translateX(0);}
    20% {transform: translateX(-5px);}
    40% {transform: translateX(5px);}
    60% {transform: translateX(-5px);}
    80% {transform: translateX(5px);}
    100% {transform: translateX(0);}
}

.shake {
    animation: shake 0.25s;
}